body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.5em;
    background: #8ca3a3;
    color: #000;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    overflow:hidden
}

a.navigation-link {
  padding: 0px 20px;
  word-wrap: normal;
  display: inline-block;
}

.center{
    text-align: center;
    color: #FFCC00;
}

.links {
    text-align: center;
}

.contactMe {
    text-align: center;
    color: #E50914;
}

.byMe {
    float: left;
}

.click {
    float: right;
}

.myName {
    color: #034f84;
}

.clickFont {
    color: #E50914;
}

@media screen and (max-width: 391px) {
    body {
        font-size: 1.2em;
        text-align: center;
    }
    .byMe, .click {
        float: none;
    }  
}

@media screen and (min-width: 392px) and (max-width: 991px) {
    body {
        font-size: 1.4em;
        text-align: center;
    }
    .byMe, .click {
        float: none;
    }
}

@media screen and (min-height: 300px) and (max-height: 425px) {
    body {
        font-size: 14px;
    }
    .byMe, .click {
        float: none;
    }
    img {
        width: 50%;
    }
    .center, .contactMe {
        font-size: 20px;
    }
    .imgDiv {
        height: 200px;
    }
}